.CharacterCardContainer {
    padding         : 20px;
    width           : 70%;
    height          : 200px;
    box-shadow      : 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius   : 20px;
    background-color: var(--card-bg-color);
    transition      : all 200ms;

    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
}

.CharacterCardContainer:hover {

    transform       : scale(1.01);
    background-color: var(--card-bg-color-hover);
    transition      : all 200ms;
}


.CardImage {
    overflow     : hidden;
    border-radius: 10px;
    width        : 20vw;
    position     : relative;
    height       : 90%;

}

.CardName {
    font-size: 3vw;
    flex     : .3;

}

.ComicsCount {
    text-align: center;
    flex      : .2;
    font-size : 2vw;
    line-break: auto;
}


@media(max-width : 900px) {
    .CardName {
        font-size: 4vw;

    }

    .ComicsCount {
        font-size: 3vw;
    }
}