.FooterContent {
    height          : 200px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-direction  : column;
    background-color: var(--footer-bg-color);
    color           : white
}

.FooterContent>h1 {
    font-size: 100%;
}

.FooterContent>a {
    color: lime;
}